<app-menu-lateral></app-menu-lateral>
<app-menu-superior></app-menu-superior>

<div class="container">
    <div class="conteudo">

        <div class="bloco_superior">
              <div class="infos">
                    <h1>Chamados por técnicos:</h1>
                    <div class="conteudo_infos">

                        <div class="bloco_infos" *ngFor="let item of todosChamados?.tecnicos">
                            <p class="qtd">{{item?.qtd_chamado}}</p>
                            <p class="info-nome">{{item?.nome}}</p>

                        </div>

                    </div>
              </div>

              <div class="grafico">
                <h1>Total de chamados:</h1>
                <p>{{todosChamados?.chamado?.length}}</p>
                <canvas id="myChart" #mychart></canvas>
              </div>
        </div>

        <div class="blocos_inferiores">
            <div class="bloco_esquerda">
                <p>Visualizar</p>
                <div class="cadastrar-user">
                    <div class="esquerda">
                        <button (click)="openDialogUsers()">Usuários</button>
                        <img src="../../../assets/imagens/people.png" alt="">

                    </div>

                    <div class="direita">
                        <button (click)="openDialogTecnico()">Técnicos</button>
                        <img src="../../../assets/imagens/tecn.png" alt="">
                    </div>
                </div>


                

                
            </div>
            
            <div class="bloco_direita">

                <p>Gerar</p>
                <div class="logs">
                    <div class="esquerda">
                        <button (click)="openDialogLogs()">Logs</button>
                        <img src="../../../assets/imagens/logs.png" alt="">

                    </div>

                    <div class="direita">
                        <button (click)="openDialogResumo()">Filtros</button>
                        <img src="../../../assets/imagens/relatorio.png" alt="">
                    </div>


            </div>
        </div>
        
    </div>
</div>