<app-menu-lateral></app-menu-lateral>
<app-menu-superior></app-menu-superior>

<div class="container">
    <div class="conteudo">

        <div class="bloco_superior">
              <div class="infos">
                    <h1>Chamados por tecnicos:</h1>
                    <div class="conteudo_infos">

                        <div class="bloco_infos" *ngFor="let item of todosChamados?.tecnicos">
                            <p class="qtd">{{item?.qtd_chamado}}</p>
                            <p class="info-nome">{{item?.nome}}</p>

                        </div>

                    </div>
              </div>

              <div class="grafico">
                <h1>Total de chamados:</h1>
                <p>{{todosChamados?.chamado?.length}}</p>
                <canvas id="myChart" #mychart></canvas>
              </div>
        </div>

        <div class="blocos_inferiores">
            <div class="bloco_esquerda">
                <p>VISUALIZAR</p>
                <div class="cadastrar-user">
                    <div class="esquerda">
                        <button (click)="openDialogUsers()">Usuários</button>
                    </div>

                    <div class="direita">
                        <button (click)="openDialogTecnico()">Tecnicos</button>
                    </div>
                </div>


                

                
            </div>
            
            <div class="bloco_direita">
                <button (click)="openDialogLogs()">Visualizar Logs</button>
            </div>
        </div>
        
    </div>
</div>