@import url("https://use.typekit.net/vuc0sxh.css");

*{
    font-family: "proxima-nova" !important;
}

.container{
    background-color: #f6f6f6;
    margin-left: 18%;
    height: 86vh;
}


.conteudo{
    width: 90%;
    height: 95%;
    margin: 30px auto 0px auto;
}

.bloco_superior{
    background-color: white;
    height: 35vh;
    display: flex;
}

.blocos_inferiores{
    display: flex;
    margin-top: 14px;
    justify-content: space-between;
}

.bloco_direita, .bloco_esquerda{
    text-align: center;
    width: 45%;
    height: 350px;
    background-color: white;
    box-shadow: 0px 1px 22px -12px #607d8b;
}

.bloco_direita{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloco_direita button{
    background: #162D44;
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: white;

}

.nome, .username, .email, .nascimento, .setor, .ramal, .senha, .nivel{
display: flex;
    width: 68%;
    justify-content: space-between;
    margin: 10px auto;
}

.nome input, .username input, .email input, .nascimento input, .setor input, .ramal input, .senha input, .nivel input{
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 10px;
}


.enviar{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.enviar button{
    padding: 6px;
    background-color: #c6c6c6;
    border: none;
    border-radius: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

::ng-deep nz-table{
    overflow: auto;
    height: 100%;
    height: 84%;
}

::ng-deep .nz-disable-td.ant-table-cell{
    display: none !important;
}

.cadastrar-user button{
    background: #162D44;
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.cadastrar-user{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.direita, .esquerda{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.direita img, .esquerda img{
    width: 200px;
}

.direita{
    border-left: 1px solid black;
}


.bloco_esquerda p{
    font-size: 30px;
    margin-top: 20px;
}

canvas{
    max-height: 196px !important;
    position: relative;
    top: -78px;
}

.grafico{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 18px solid #f6f6f6;
    box-shadow: 0px 1px 22px -12px #607d8b;
}

.grafico p{
    position: relative;
    top: 60px;
    font-size: 32px;
    margin-bottom: 0px;
}

.infos{
    width: 40%;
    text-align: center;
    box-shadow: 0px 1px 22px -12px #607d8b;
}

.conteudo_infos{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    flex-wrap: wrap;
}

.bloco_infos{
    width: 45%;
    border: 1px solid #c6c6c6;
    border-bottom: 3px solid #162D44;
    border-radius: 5px;
    margin-top: 15px;
}

.bloco_infos p{
    font-weight: 600;
    font-size: 18px;
}

.qtd{
    /* display: flex; */
    /* margin-left: 14px; */
    margin-top: 10px;
    margin-bottom: 0px;
}

.info-nome{
    margin-bottom: 10px;
}

.nome{
    margin-bottom: 0px !important;
}