<app-menu-lateral></app-menu-lateral>
<app-menu-superior></app-menu-superior>

<div class="container">

    <div class="estatisticas_chamado">

      <div class="blocos">
        <div class="superior">
          <h1>127</h1> 
          <img src="../../../../../assets/imagens/bandeira.png" alt="">
        </div>


        <p>Chamados abertos</p>
      </div>

      <div class="blocos">
        <div class="superior">
          <h1>127</h1> 
          <img src="../../../../../assets/imagens/concluido.png" alt="">
        </div>


        <p>Chamados fechados</p>
      </div>

      <div class="blocos">
        <div class="superior">
          <h1>127</h1> 
          <img src="../../../../../assets/imagens/cancelado.png" alt="">
        </div>


        <p>Chamados cancelados</p>
      </div>

      <div class="blocos">
        <div class="superior">
          <h1>127</h1> 
          <img src="../../../../../assets/imagens/anexo.png" alt="">
        </div>


        <p>Anexos</p>
      </div>

    </div>

    <div class="bloco_grafico">
      <div class="grafico">
        <canvas id="myChart" #mychart></canvas>
      </div>

    </div>
</div>