<app-menu-lateral></app-menu-lateral>
<app-menu-superior></app-menu-superior>
<div class="container">

 

  <div class="bloco_chamado">
    <h1>GERAR CHAMADO PARA EQUIPE DO SUPORTE</h1>
    
    <div class="conteudo_chamado">
      <p>*preencha todos os campos necessários </p>

      <div class="inputs">
        <form 
        [formGroup]="chamadosForm"
        (ngSubmit)="enviaDadosChamado()"
            >
        <div class="id">
          <label>ID do equipamento : </label>
          <input type="number" formControlName="id_equipamento"  name="id_equipamento" required >
        </div>

        <div class="local">
          <label>*Setor : </label>
          <input type="text" formControlName="local" name="local" required [ngClass]="{'erro_input': erro == true && chamadosForm.value.local == ''}">
        </div>

        <div class="ramal">
          <label>*Ramal : </label>
          <input type="number" formControlName="ramal" name="ramal" required [ngClass]="{'erro_input': erro == true && chamadosForm.value.ramal == ''}">
        </div>

        <div class="problema">
          <label>*Tipo do problema : </label>
          <nz-select formControlName="tipo_problema" name="tipo_problema" [ngClass]="{'erro_input': erro == true && chamadosForm.value.tipo_problema == ''}">
            <nz-option *ngFor="let item of problemas" [nzLabel]="item.tipo_problema" [nzValue]="item.id"></nz-option>
          </nz-select>
        </div>

        <div class="descricao_problema">
          <label >*Descrição do problema : </label>
          <textarea formControlName="desc_problema" [ngClass]="{'erro_input': erro == true && chamadosForm.value.desc_problema == ''}" name="desc_problema" required placeholder="Descreva o problema detalhadamente para que o técnico tenha um diagnostico com uma melhor precisao"></textarea>
        </div>

        <div class="arquivo">
          <div class="clearfix">
            <nz-upload
              nzListType="picture-card"
              [nzPreview]="handlePreview"
              [nzBeforeUpload]="beforeUpload"
            >
              <div>
                <!-- <span nz-icon nzType="plus"></span> -->
                <div style="margin-top: 8px">Upload</div>
              </div>
            </nz-upload>
            <nz-modal
              [nzVisible]="previewVisible"
              [nzContent]="modalContent"
              [nzFooter]="null"
              (nzOnCancel)="previewVisible = false"
            >
              <ng-template #modalContent>
                <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
              </ng-template>
            </nz-modal>
          </div>
        </div>

        <div class="enviar">
          <button type="submit" >ENVIAR</button>
        </div>
        </form>
      </div>

    </div>

  </div>
</div>