<app-menu-lateral></app-menu-lateral>
<app-menu-superior></app-menu-superior>

<div class="container">

  <div class="bloco_principal">

    <div class="conteudo_bloco">
      <h1 class="sobre">Sobre os tecnicos</h1>

      <div class="usuarios">

        

        <nz-carousel>
          <div nz-carousel-content *ngFor="let item of tecnicos">
            
              <div class="centro">
                <img src="../../../../../assets/imagens/perfil-usuarios.png" alt="">
                <h1>{{item.nome}}</h1>
                <h2>Quantidade de chamados: <b>{{item.qtd_chamado}} </b></h2>
                <h2 class="especialidade">Especialidade: <b>{{item.especialidade}} </b></h2>

              </div>
             
    
           
          </div>
        </nz-carousel>
        
      </div>

    </div>

  </div>

</div>