<app-menu-lateral></app-menu-lateral>
<app-menu-superior></app-menu-superior>


<div class="container">

    <div class="chamados_abertos" >
      <p>Chamados Abertos : <span>{{chamado?.chamado?.length}}</span></p>
     
      <p (click)="gerarRelatorio()">Gerar gráfico</p>
    </div>

    <div class="bloco_conteudo">
      <div class="tabela">


        <table id="customers">
          <tr>
            <th><input type="checkbox" name="" id=""></th>
            <th class="id">Id</th>
            <th class="titulo_descricao">Descrição do problema</th>
            <th>Local</th>
            <th>Status</th>
            <th>Nome do usuário</th>
          </tr>
          <tr *ngFor="let item of chamado?.chamado" >
            <td><input type="checkbox" name="" id="{{item.id}}" (change)="checarIndividualCheckbox()"></td>
            <td class="id" (click)="abreChamado(item.id)">{{item.id}}</td>
            <td class="descricao" (click)="abreChamado(item.id)">{{item.desc_problema}}</td>
            <td (click)="abreChamado(item.id)">{{item.local}}</td>
            <td (click)="abreChamado(item.id)">{{item.status}}</td>
            <td (click)="abreChamado(item.id)">{{item.id_usuario}}</td>
          </tr>
          
        </table>
        <img src="../../../../assets/imagens/fundo_busca.png" alt="" *ngIf="chamado?.length == 0">

      </div>

    </div>
</div>