
        <table id="customers">
          <tr>
            <th><input type="checkbox" name="" id=""></th>
            <th class="id">Id</th>
            <th class="titulo_descricao">Ação</th>
            <th>Data</th>
            <th>Id do objeto</th>
            <th>tipo</th>
          </tr>
          <tr *ngFor="let item of logs">
            <td><input type="checkbox" name="" id=""></td>
            <td >{{item.id}}</td>
            <td >{{item.acao}}</td>
            <td>{{item.date}}</td>
            <td>{{item.object_id}}</td>
            <td>{{item.tipo}}</td>
          </tr>
          
        </table>