<app-menu-lateral></app-menu-lateral>
<app-menu-superior></app-menu-superior>
<div class="container">

    <div class="bloco_chamado">
        <div class="blocos">

            <div class="bloco_esquerda"> 
                <div class="topo_bloco_esquerda">
                    <h1>ID do chamado: {{chamado?.id}}</h1>
                </div>

                <div class="bloco_chamado">
                
                  <div class="conteudo_chamado">
            
                    <div class="inputs">
                      <form 
                      [formGroup]="chamadosForm"
                      (ngSubmit)="enviaDadosChamado()"  >
                      <div class="id">
                        <label>ID do equipamento : </label>
                        <input type="number"  disabled value="{{chamado?.id_equipamento}}">
                      </div>
              
                      <div class="local">
                        <label>Local : </label>
                        <input type="text"   disabled value="{{chamado?.local}}">
                      </div>
              
                      <div class="ramal">
                        <label>Ramal : </label>
                        <input type="text"  disabled value="{{chamado?.ramal}}">
                      </div>
              
                      <div class="problema">
                        <label>Tipo do problema : </label>
                        <input type="text" disabled value="{{problemaSelecionado}}">
                        <!-- <nz-select formControlName="tipo_problema" name="tipo_problema" class="select" [(ngModel)]="problemaSelecionado" nzDisabled> 
                          <nz-option *ngFor="let item of problemas" [nzLabel]="item?.tipo_problema" [nzValue]="item?.tipo_problema"></nz-option>
                        </nz-select> -->
                      </div>

                      <div class="arquivo">
                        <label >Arquivos anexados: </label>
                      </div>
              
                      <div class="descricao_problema">
                        <label >Descrição do problema : </label>
                        <textarea value="{{chamado?.desc_problema}}" disabled placeholder="Descreva o problema detalhadamente para que o técnico tenha um diagnóstico com uma melhor precisão" ></textarea>
                      </div>
              


                      <div [ngClass]="item.tecnico == 0 ? 'resposta' : 'resposta2'" *ngFor="let item of respostas">
                        <label *ngIf="item.tecnico == 0">Resposta {{tecnicoChamado?.nome}}: </label>
                        <label *ngIf="item.tecnico == 1">Resposta usuário: </label>

                        <div class="resposta_bloco">
                          <p>{{item?.data | date: 'dd/MM/yyyy HH:mm'}}</p>
                          <div class="resposta-conteudo">
                            {{item?.resposta}}
                          </div>
                        </div>
                      </div>


              
                      <div class="resolucao_problema" *ngIf="status != 'cancelado' && status != 'finalizado'">
                        <label >Resposta : </label>
                        <textarea formControlName="resolucao_problema" [(ngModel)]="resolucao" name="resolucao_problema" placeholder="resposta" ></textarea>
                      </div>

                      <div class="enviar" >
                        <button type="button" (click)="cancelarChamado()" class="cancelar" *ngIf="status != 'cancelado' && status != 'finalizado'">Cancelar chamado</button>

                        <button type="button" (click)="finalizarChamado()" class="finalizar" *ngIf="status != 'cancelado' && status != 'finalizado'">Finalizar chamado</button>

                        <button type="button" (click)="reabrirChamado()" class="cancelar" *ngIf="status == 'cancelado' || status == 'finalizado'">Reabrir chamado</button>

                        <button type="submit" class="enviar_botao" *ngIf="status != 'cancelado' && status != 'finalizado'" [disabled]="!chamadosForm.valid">Responder chamado</button>
                      </div>
                      </form>
                    </div>
              
                  </div>
              
                </div>
            </div>

            <div class="bloco_direita"> 
              <div class="topo_bloco_direita">
                <h1>Técnico: </h1>
              </div>

              <div class="blocos_direita">

                <div class="bloco_direita_esquerda">
                  <h1>Foto de perfil</h1>
                  <nz-avatar nzIcon="user" [nzSrc]="tecnicoChamado.img_perfil" class="user"></nz-avatar>
                  <!-- <img src="../../../../assets/imagens/perfil-usuarios.png" alt=""> -->
                </div>

                <div class="bloco_direita_direita">
                  <p><b>Nome: </b>{{tecnicoChamado?.nome}}</p>
                  <p><b>Especialidade: </b>{{tecnicoChamado?.especialidade}}</p>
                  <p><b>Quantidade de chamados: </b>{{tecnicoChamado?.qtd_chamado}}</p>
                </div>

              </div>
            </div>
        </div>
      

    </div>


</div>