<div class="filtro" >
  <div class="ano">

    <label for="">Setor:</label>
    <mat-form-field appearance="fill">
      <mat-label>Selecione...</mat-label>

      <mat-select #matRefAno multiple [(ngModel)]="value_setor">

        <input class="pesquisa_filtro" placeholder="Pesquisar" #valorbuscaSetor
        (keyup)="onKeySetor(valorbuscaSetor.value)">
        <mat-option id="{{item}}" *ngFor="let item of setores ; let i = index;"
          [value]="item">
          {{item}}
        </mat-option>

      </mat-select>

    </mat-form-field>
  </div>

  <div class="ano">

    <label for="">Tipo do problema:</label>
    <mat-form-field appearance="fill">
      <mat-label>Selecione...</mat-label>

      <mat-select #matRefAno multiple [(ngModel)]="value_problema">

        <input class="pesquisa_filtro" placeholder="Pesquisar" #valorbuscaAno
          >
        <mat-option id="{{item}}" *ngFor="let item of problemas ; let i = index;"
          [value]="item.id">
          {{item.tipo_problema}}
        </mat-option>

      </mat-select>

    </mat-form-field>
  </div>


</div>

<div class="botao">
  <button mat-raised-button color="primary" (click)="enviaDados()">Filtrar</button>
</div>

<p>Total de chamados: <b>{{valores_filtro?.chamado?.length}}</b></p>
<p >Média de tempo de finalização de chamado: <b>{{dias}}</b> Dias e <b>{{hora}} minutos</b></p>

<div class="tabela">


  <table id="customers">
    <tr>
      <th class="id">Id</th>
      <th class="titulo_descricao">Descrição do problema</th>
      <th>Setor</th>
      <th>Status</th>
      <th>Nome do usuário</th>
      <th>Tipo do problema:</th>
    </tr>
    <tr *ngFor="let item of valores_filtro?.chamado" >
      <td class="id">{{item.id}}</td>
      <td class="descricao">{{item.desc_problema}}</td>
      <td >{{item.local}}</td>
      <td >{{item.status}}</td>
      <td >{{item.id_usuario}}</td>
      <td> {{item.tipo_problema}}</td>
    </tr>
    
  </table>

</div>